%label Field Identify
%select.w25#field_identify_hierarchy_mode{ko(value: :value, options: :optionsUIIds, optionsText: 'function(o){return $data.labelFor(o)}')}
%label Field Parent
%select.w25#field_parent_hierarchy_mode