- content_for :head do
  :javascript
    $(function() { initIconSelector(); });

= f.hidden_field :icon, id: 'selected_icon'
%input#focus_icon{:type =>"hidden"}

- icons = all_icons

- icons_per_row = 8

- icons.in_groups_of(icons_per_row).each do |row|
  .icon_row{:style => "height:60px;"}
    - row.each do |i|
      = f.button "", :id => i, :type => "button", :class => "icon_selector_button #{i}"
