- content_for :head do
  = javascript_include_tag 'collections'

%h2 Collection List
%table
  %thead
    %tr
      %th Collection Name
      %th Latitude
      %th Logitude
      %th
  %tbody{"data-bind" => "foreach: collections"}
    %tr
      %td{"data-bind" => "text: name"}
      %td{"data-bind" => "text: lat"}
      %td{"data-bind" => "text: lng"}
