- content_for :head do
  = javascript_include_tag 'models/collection'
  = javascript_include_tag 'view_models/collections_view_model'
  = javascript_include_tag 'maps/collections_map'

  :javascript
    $(function() { rm.bootstrap(); });

%h3 Collections

%table
  %tbody{ ko(foreach: :collections) }
    %tr
      %td
        %input{ type: :checkbox }
      %td{ ko(text: :name) }
      %td
        %button{ ko(click: :showMe) }show
