- content_for :head do
  = javascript_include_tag 'view_models/collections_view_model'
  = javascript_include_tag 'maps/collections_map'

  :javascript
    $(function() { rm.bootstrap(); });

%h3 Collections

%table
  %thead
    %tr
      %th Collection Name
      %th Latitude
      %th Logitude
      %th
  %tbody{ ko(foreach: :collections) }
    %tr
      %td{ ko(text: :name) }
      %td{ ko(text: :lat) }
      %td{ ko(text: :lng) }
