- content_for :head do
  = javascript_include_tag 'view_models/collections_view_model'
  = javascript_include_tag 'maps/collections_map'

  :javascript
    $(function() { rm.bootstrap(); });

%h3 Collections

%ul{ ko(foreach: :collections) }
  %li{ ko(text: :name) }
