#mobile-sites-main{"data-role" => "page", "data-fullscreen" => "true"}

  %div{"data-role" => "header"}  
    %h1 Add New Site
  <!-- ko if: currentSite -->
  %form{ko(with: :currentSite, submit: '$root.saveSite'), action: 'http://', method: :post}
    %div{"data-role" => "content"}
      %div
        %label{:for => "basic"} Name: 
        %input#basic{:name => "name", :type => "text", 'data-bind' => kov(value: :name, valueUpdate: :afterkey, hasfocus: true), :autofocus => true}
        .clear
      %div
        %label Location:
        = ko_text_field_tag :locationText, html: {placeholder: 'Search or drag the pin'}
        .clear
      <!-- ko foreach: $root.layers -->
      %div{"data-collapsed" => "false", "data-role" => "collapsible"} 
        %h3{ko(text: :name)} 
        <!-- ko foreach: fields -->
        %div
          = label_tag '', '', ko(attr: {:for => :esCode}, text: "name + ':'")
          //%span.value{ko(text: :valueUI)}
          - Field::kinds.each do |kind|
            <!-- ko if: kind == '#{kind}' -->
            = render partial: field_edit_view(kind), locals: { single_editing_mode: false }
            <!-- /ko -->
        <!-- /ko -->
      <!-- /ko -->
    %button{type: 'submit', "data-theme" => "c"} Save Site
  <!-- /ko -->
  %div{"data-role" => "footer"}  
    %h1 Version 1.0
