%div{"data-role" => "footer", "data-theme" => "f", "data-position" => "fixed", class: 'footer clearfix' }
  %div{style: 'float:left;'}
    =link_to t('views.mobile.collections.desktop_view'), root_path(_desktop: true), "data-ajax" => "false"
  %div{style: 'float:right;' }