:javascript
  $(function(){
    $("#site-page").on("pagebeforeshow", function(){
      $("#site-page").trigger("pagecreate");
    });
  });


#mobile-collections-main{"data-role" => "page", "data-fullscreen" => "true" }
  %div{"data-role"=> "header", "data-theme" => "c"}  
    %h1= @title || 'My Collections'

    %a.ui-btn-right{"data-icon" => "arrow-r", :href => "/users/sign_out", "data-method" => "delete", "rel" => "external", "data-ajax" => "false" }Sign out
  %div{"data-role" => "content"}
    %ul{ id: "listview", "data-role" => "listview", "data-inset" => "true"}
      <!-- ko foreach: collections -->
      %li
        %a{ko(text: :name, click: '$root.createSite'), style: 'cursor: pointer;'}
      <!-- /ko -->
      
#site-page{"data-role" => "page", "data-fullscreen" => "true"}

  -# Collection's Site
  <!-- ko if: currentCollection() -->
  = render 'mobile/collections/index/site'
  <!-- /ko -->
