CACHE MANIFEST
\#timestamp = DateTime.now.to_i
\/assets/jquery.mobile-1.3.1.min.css
\/assets/jquery.js
\/assets/jquery_ujs.js
\/assets/mobile/mobilecache.js
\/assets/mobile/home.js
\/assets/mobile/collections/collection.js
\/assets/mobile/collections/on_mobile_collections.js
\/assets/mobile/events.js
\/assets/mobile/field.js
\/assets/mobile/option.js
\/assets/jquery.mobile-1.3.1.min.js
\/assets/images/ajax-loader.gif
\/assets/images/icons-18-white.png
\/images/add.png
\/images/favicon.ico
\/images/remove.ico

NETWORK:
*