%ul{style: 'padding:0px; list-style:none'}
  
  /ko if impl().field_logics().length > 0
  /ko foreach: impl().field_logics
  %li{style: 'padding-bottom:20px'}
    %div{style: 'padding-bottom:10px'}
      %span.smalltext.left{style: 'padding-right:10px'} if input is
      %b{"data-bind" => "text: label"}
      
      %span.smalltext{style: 'padding-left:10px'}skip form to

    %select{"data-bind" => 'foreach: $root.selectLogicLayers(), value: field_id, selectedOptions: field_id', style: 'max-width:250px'}
      /ko if: $index() == 0
      %option{value: ""} (no value)
      //ko
      %optgroup{"data-bind" => "attr: {label: name}, foreach: fields", style: ''}        
        %option{"data-bind" => "text: name, option: name, value: id"}
  //ko
  //ko
