%div{ko(visible: :showRegisterNewMember), class: "box centered w40 dialog", id: "frm_new_member", style: "margin-left: -180px; margin-top: -175px; box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.3)" }
  %h2 Create New Member
  Email:
  %input{ko(value: :email), :name => "email", :style => "margin-left: 88px; width: 250px;", :type => "text"}
  %br
  %br
  %div{:style => "margin-left: 130px;"}
    Include country code eg. 85512987656
  Phone Number:
  %input{ko(value: :phoneNumber), :name => "phone_number", :style => "margin-left: 30px; width: 250px;", :type => "text"}
  %br
  %br
  %div{:style => "margin-left: 130px;"}
    We need to verify this phone number
  %div{:style => "margin-left: 130px;"}
    %button{ko(click: '$root.sentCodeMsg', css: {disabled: '$root.phoneNumberExist'}), type: "button", value: "text", class: "white" } Text Me!
    %input{:name => "text_verify", :type => "text"}
  %div{:style => "margin-left: 130px; width: 250px;"}
    Click "Text Me!". You will receive an SMS message, please enter that text in the text box.
  %div{ style: "margin-left: 130px; padding-top: 20px;"}
    %button{ko(click: '$root.createMembership'), type: "button", value: "Save", class: "white", id: "btn_create_member" } Submit
    
    %button{ko(click: '$root.hideRegisterMembership'), type: "button", value: "Cancel", class: "white", id: "btn_close_member" } Cancel
