/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fixedheadertable
 *= require_tree .
 *= require jquery.fancybox
 *= require_fullscreen
*/

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#container {
  height:100%;
}

#footer-span {
  position:relative;
}

#NavMenu ul {
  background: transparent;
}

.refine-popup a.button.white {
  padding: 7px 5px !important;
}

.homepage .illustration {
  background: url("/assets/data_collection.png") no-repeat scroll 0 0 transparent;
  height: 286px;
  width: 401px;
}

.homepage .food {
  background: url("/assets/tracking_food.jpg") no-repeat scroll 0 0 transparent;
  height: 260px;
  width: 360px;
}

.homepage .medical {
  background: url("/assets/tracking_medical.png") no-repeat scroll 0 0 transparent;
  height: 200px;
  width: 300px;
}

.get-update {
  background: url("/assets/get_update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.visualize-and-update {
  background: url("/assets/visualize_and_update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.update {
  background: url("/assets/update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.identify {
  background: url("/assets/identify.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.receive {
  background: url("/assets/receive.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.collaborate {
  background: url("/assets/collaborate.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.maintain {
  background: url("/assets/maintain.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.tracking-medical-supplies {
  background: url("/assets/tracking_medical_supplies_and_personnel.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.managing-disease-prevention-supplies {
  background: url("/assets/managing_disease_prevention_supplies.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.monitoring-food-price {
  background: url("/assets/monitoring_food_price_and_supply_levels.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.testing-enviromental-health {
  background: url("/assets/testing_enviromental_health.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-cnm {
  background: url("/assets/centre_nationale_de_malaria.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-wranda-ministry-of-health {
  background: url("/assets/rwanda_coat_of_arms.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-CMPE {
  background: url("/assets/Center_for_Malaria_Parasitology_and_Entomology_of_Lao_PDR.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

#export {
  margin:0;
  padding:2px;
  display:inline-block;
}

#export .link {
  color: black;
  text-decoration:underline;
  cursor:pointer;
  margin:0;
}

.delete-collection-or-sites {
  height:60px;
}

.delete-collection-or-sites .left {
  margin-right:10px;
}

.settings-form label {
  padding-bottom:5px;
}
.rm-dialog{
    display: block;
    position: fixed !important;
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 10px;
}
.hidden{
    display: none;
}
.lbutton{
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;
  height: 59px;
  width: 59px;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.lphoto{
  background-image: url(/assets/fields_large_icons/photo.png);
}

a.disabled.lbutton{
  cursor: default !important;
}
.lbutton:hover{
  background-position: 0px -60px;
}
.lbutton:focus{
  background-position: 0px -60px;
}
.lbutton:active{
  background-position: 0px -120px;
}
.disabled.lbutton{
  background-position: 0px -180px;
}
a.lbutton{
  padding-top: 3px !important;
  vertical-align: middle;
}

.BreadCrumb li:last-child, .BreadCrumb li:last-child > a{
   cursor: default !important;
   pointer-events: none;
}

.weak-bar{
  background-color: red;
}

.strong-bar{
  background-color: green;
}

.collapse{
  font-weight:bold;
  vertical-align:top;
  padding-left: 0px;
  width:80px;height:30px;
  transform:rotate(7deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}

#alert-legend li{
  vertical-align: middle;
}