%div
  %div{style: "float:left;"}
    %button.flocation{ko(click: '$root.createSite')} Create Site
  %div{style: "float: right; "}
    %a{ :href => "javascript:(void)", :"data-bind" => kov(:click => '$root.openDialog'), :id => 'download-dialog', 
                :class => 'white',style: 'margin-right:5px; text-decoration: underline;' } Download History 
  .clear &nbsp;