.tablebottom
  %div{ ko(click: '$root.createCollection'), style: 'cursor: pointer;float:left;' }  
    %button.cadd{type: "button"}
    %span.createCollection= t('views.collections.index.create_collection')
    .clear &nbsp;