%div{ class: "box centered w40 dialog", style: "margin-left: -200px; margin-top: -150px;" }
  %h2 Download History
  - types = { :month => "This month",
              :previous_month => "Previous Month",
              :all => "All" }
  - types.each do |key, value|
    .item
      %input{type: "radio",  name: "collection[type]",  value: key}
      %label
        = value

  .item
    %input{type: "radio",  name: "collection[type]",  value: "range" }
    %label Custom Range

  .date_rage{ style: "margin-left: 15px; padding: 10px;" }
    .w15{ style: "float:left;"}
      %label From
      %input{ type: "text", name: "collection[from]", class: "w10 ux-datepicker"}
    .w15{ style: "float:left;"}
      %label To
      %input{ type: "text", name: "collection[to]" ,  class: "w10 ux-datepicker"}
  %br
  %div{ style: "margin-left: 15px; padding-top: 10px;"}
    %button{ type: "button", value: "Download", class: "white" } Download
    
    %button{ type: "button", value: "Cancel", class: "white" } Cancel
  .clear &nbsp;