%script{type: "text/html", id: "map-hierarchy-sites-template"}
  <!-- ko foreach: hierarchySites -->
  %tr
    %td
      %div.hierarchyItem{ko(click: :selectedHierarchy, style: :columnStyle)}
        %div{ko(style: :labelStyle, css: {greyback: :selected})}
          %a{href: 'javascript:void(0)'}
            %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/18/black/folder' + (expanded() ? '_open' : '') + '.png'"})}
          %span{ko(text: :name)}
      %button.farrow{ko(click: '$root.editSiteInHierarchyMode'), type: "button"}
  <!-- ko if: expanded -->
  <!-- ko template: {name: 'map-hierarchy-sites-template', with: hierarchySites} -->
  <!-- /ko -->
  <!-- ko if: hasMoreSites() && !loadingSites()-->
  %tr
    %td.loadmore
      = link_to t('views.collections.index.load_more_sites'), 'javascript:void()', 'data-bind' => kov(click: :loadMoreSites, style: {marginLeft: "'' + (30 + level * 20) + 'px'"})
  <!-- /ko -->
  <!-- ko if: hasMoreSites() && loadingSites()-->
  %tr
    %td.loadmore
      %span{ko(style: {marginLeft: "'' + (30 + (level + 1) * 20) + 'px'"})}= t('views.collections.index.loading')
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->




