%p#snapshot_loaded_message
  %span.i18g-snapshot
  = t('views.import_wizards.viewing_snapshot', snapshot_name: current_user_snapshot.snapshot.name)
  = t('views.import_wizards.to_make_change')
  = ( link_to t('views.import_wizards.go_back_to_present_time'), collection_unload_current_snapshot_path(collection), :method => :post ) + '.'
%br
