%script{type: "text/html", id: "date-field-template"}
  %select{ ko(options: 'field().operators', optionsText: "'label'", value: :op) }
  %label{ ko(css: { error: '!valid()' }) }
    %span.w10
      %input.ux-datepicker{ 'data-bind' => 'value: valueUI, css: {error: !valid()}', type: :text }
