%script{type: "text/html", id: "date-field-template"}
  %select{ ko(options: 'field().operators', optionsText: "'label'", value: :op) }
  = ko_html_field_tag :value, html: {class: 'ux-datepicker w10'}
