%script{type: "text/html", id: "select_one-field-template"}
  %span{ ko(text: 'field().operators()[0].label') }
  %select{ ko(options: 'field().options', optionsText: "'label'", optionsValue:"'id'", value: :value) }