%script{type: "text/html", id: "text-field-template"}
  %select{ ko(options: 'field().operators', optionsText: "'label'", value: :op) }
  %label{ ko(css: { error: '!valid()' }) }
    %span.w06
      %input{ ko(value: :value, valueUpdate: :afterkeydown, css: { error: '!valid()' }), type: :text, style: 'width:60px' }