- if single_editing_mode
  %input.w25{ ko(value: :value, valueUpdate: :afterkeydown, event: {keydown: :keyPress, blur: :save}, hasfocus: true, attr: {id: "'identifier-input-' + code"}), type: :text }
- else
  %input.w25{ ko(value: :value, attr: {id: "'identifier-input-' + code"}), type: :text }
  .clear
