- if single_editing_mode
  %input.w25.ux-search{ko(value: :filterText, valueUpdate: :afterkeydown, hasfocus: true, event: {keydown: :filterLocation}, attr: {id: "'location-input-' + code"}), type: :text, style: 'width:220px', autocomplete: "off"}
  
  %ul.w25.taglist.box{style: 'margin-right:5px;margin-top:2px;width:100%'}
    <!-- ko foreach: remainingLocations -->
    %li{style: 'margin-left: 10px; border: none; list-style: none; background: none'}
      %a{ko(text: :name, click: '$parent.selectLocation')}
    <!-- /ko -->
    %li{ko(click: :loadMoreLocations), style: 'color: blue; margin-left: 10px; border: none; list-style: none; background: none'} Load more locations...
    %button{ko(click: :save), style: 'float:right'}= t('views.collections.index.update_options')
    %button{ko(click: :exit), style: 'float:right'}= t('views.collections.index.cancel')
  
- else
  %input.w25.ux-search{ko(value: :filterText, valueUpdate: :afterkeydown, hasfocus: true, event: {keydown: :filterLocation}, attr: {id: "'location-input-' + code"}), type: :text, style: 'width:220px', autocomplete: "off"}
  <!-- ko if: !value() || showLocations() -->
  %ul.w25.taglist.box{style: 'margin-right:5px;margin-top:2px;width:100%'}
    <!-- ko foreach: remainingLocations -->
    %li{style: 'margin-left: 10px; border: none; list-style: none; background: none'}
      %a{ko(text: :name, click: '$parent.selectLocation')}
    <!-- /ko -->
    %li{ko(click: :loadMoreLocations), style: 'color: blue; margin-left: 10px; border: none; list-style: none; background: none'} Load more locations...
  <!-- /ko -->
  .clear