- if mobile
  - if single_editing_mode
    %input{ko(event: {change: "fileSelected"}, attr: {name: :code, id: :code}), type: 'file', accept: 'image/*'}
    <!-- ko if: hasValue() -->
    %div{ko(attr: {id: "'divUpload-' + code"}), style: "position: relative "}
      %img{ko(attr: {id: "'imgUpload-' + code", src: "photoPath + value()"}), width: "100px", style: "float: right; border: 2px solid #BBB;"}
      %img{ko(click: "removeImage"), src: "../images/remove.ico", style: "position: absolute;right: 10px; top: 8px; cursor: pointer"}
    %div{style: "clear: both"} 
    <!-- /ko -->
  - else
    %input.right.w20{ko(event: {change: "fileSelected"}, attr: {name: :code, id: :code}), type: 'file', accept: 'image/*'}
    <!-- ko if: hasValue() --> 
    %div{ko(attr: {id: "'divUpload-' + code"}), style: "position: relative"}
      %img{ko(attr: {id: "'imgUpload-' + code", src: "photoPath + value()"}), width: "100px", style: "float: right; border: 2px solid #BBB;"}
      %img{ko(click: "removeImage"), src: "../images/remove.ico", style: "position: absolute;right: 10px; top: 8px; cursor: pointer"}

    %div{style: "clear: both"}
    <!-- /ko -->
- else 
  - if single_editing_mode
    %input{ko(event: {change: "fileSelected"}, attr: {name: :code, id: :code}), size: '8px', type: 'file', accept: 'image/*'}
    <!-- ko if: hasValue() -->
    %div{ko(attr: {id: "'divUpload-' + code"}), style: "position: relative "}
      %img{ko(attr: {id: "'imgUpload-' + code", src: "photoPath + value()"}), width: "100px", style: "float: right; border: 2px solid #BBB;"}
      %img{ko(click: "removeImage"), src: "images/remove.ico", style: "position: absolute;right: 10px; top: 8px; cursor: pointer"}
    .clear
    <!-- /ko -->
  - else
    %input.right.w20{ko(event: {change: "fileSelected"}, attr: {name: :code, id: :code}), size: '8px', type: 'file', accept: 'image/*'}
    <!-- ko if: hasValue() --> 
    %div{ko(attr: {id: "'divUpload-' + code"}), style: "position: relative"}
      %img{ko(attr: {id: "'imgUpload-' + code", src: "photoPath + value()"}), width: "100px", style: "float: right; border: 2px solid #BBB;"}
      %img{ko(click: "removeImage"), src: "images/remove.ico", style: "position: absolute;right: 10px; top: 8px; cursor: pointer"}

    .clear
    <!-- /ko -->
